apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-scrape-config
  namespace: three-tier
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: 'backend'
        static_configs:
          - targets: ['backend.three-tier.svc.cluster.local:3000']
